#game {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#board {
    height: 300px;
    width: 300px;
    margin: auto;
}

.cell {
    float: left;
    width: 100px;
    height: 100px;
    border: solid 1px black;
    box-sizing: border-box;
    font-size: 52pt;
}

.message {
    width: 15rem;
    padding: 1rem;
    margin: 1.5rem auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.good {
    background-color: #0d0;
    border-color: #090;
}

.bad {
    background-color: #f00;
    border-color: #900;
}

#game > button {
    margin-top: 1.5rem;
    border: solid 3px black;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: white;
    font-weight: bold;
    font-size: 18pt;
}